<launch>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_pa3)/include/config/config.rviz" />
  <!-- <node type="finalbotpa2.py" name="my_toaster" pkg="ros_pa3"/> -->
<!-- <node type="finalbot3.py" name="toaster3" pkg="ros_pa3" args="-d $(find ros_pa3)/scripts/finalbot3.py"/> -->
<node type="finalbot3.py" name="my_toaster" pkg="ros_pa3"/>
</launch>
