<launch>
  <!-- <node type="stageros" name="stage_sim" pkg="stage_ros" args="-d $(find ros_pa3)/world/playground.world" /> -->

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_pa3)/include/config/config.rviz" />
  <!-- <node type="finalbotpa2.py" name="my_toaster" pkg="ros_pa3"/> -->
<node type="markers_example.py" name="rviz_pub_example" pkg="ros_pa3"/>
</launch>
